/*main CSS*/
body {
    margin: 0%;
    padding: 0%;

    color: #111;
    background-color: #eeeeff ;
    font-family: "Space Grotesk", sans-serif;
    
}

.grid {
    display: grid;
    grid-template-rows: 10% 80% 10%;
}

header {
    box-sizing: border-box;
    margin: 0%;
    width: 100%;

    color: #fff;
    background-color: #37f;
    text-align: center;

}

header h1 {

    padding: 20px 0px;
    font-size: 5em;

}

main {
    height: 100%;
}

article {
    box-sizing: border-box;
    margin: 0% 25%;
    width: 50%;

    /*padding-bottom: 0px;*/

}

iframe {
    width: 100%;
    height: 433px ;
}

table, th, td {
    border-collapse: collapse;
    border-color: #111;
    border-width: 3px;
    border-style: solid;
}

th, td {
    width: 50%;
    padding: 25px 5px;
}

th {
    background-color: #bbf;
}

td {
    padding-top: 5px;
    background-color: #ddf;
    vertical-align: top;
}


nav {
    float: left;
    width: 25%;
    margin-bottom: 50px;

}

nav h2 {
    padding-left: 20px;
}

nav a, nav p {
    display: block;
    height: 30px;
    width: 250px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-top: 5px;
    padding-left: 20px;

    list-style-type: none;
    text-decoration: none;
    font-size: large;

    border-radius: 3px;
}

nav a:hover {
    background-color: #ddf;
    box-shadow: 1px 1px 3px 2px #bbf, -1px -1px 3px 2px #bbf;
}

footer {
    box-sizing: border-box;
    padding-top: 20px;
    width: 100%;
    height: 72px;



    color: #fff;
    background-color: #559;

}